ion-card {
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: top;
        border-radius: 8px;
        cursor: pointer;
    }
    ion-card-title {
        font-size: 1.2rem;
        font-weight: bold;
    }
    ion-card-subtitle {
        font-size: 0.9rem;
        color: gray;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
}