<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sheet-music-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Partition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="img-section">
      <ion-col size="12">
        <img [src]="'../../assets/images/' + sheet.imagePath" alt="{{ sheet.name }}" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h2>{{ sheet.name }}</h2>
        <p><strong>Auteur :</strong> {{ sheet.author }}</p> 

        <ion-button (click)="toggleIsLearned()" expand="block" color="primary">
          <ion-icon [name]="sheet.isLearned ? 'checkmark-circle' : 'close-circle'" slot="start"></ion-icon>
          {{ sheet.isLearned ? 'Marquer comme non appris' : 'Marquer comme appris' }}
        </ion-button>
        <ion-button [routerLink]="['/sheet-music-list', sheet.id, 'edit']" expand="block" color="secondary">
          <ion-icon name="create-outline" slot="start"></ion-icon>
          Modifier
        </ion-button>

        <p><strong>Difficulté :</strong> {{ sheet.difficulty }}</p>
        <p><strong>Type :</strong> {{ sheet.type }}</p>

        <ion-button (click)="delete()" expand="block" color="danger">
          <ion-icon name="trash-outline" slot="start"></ion-icon>
          Supprimer
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
