.img-section {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
  
img {
    width: auto;
    height: auto;
    object-fit: contain;
    object-position: top;
    border-radius: 8px;
    cursor: pointer;
}
  